 <aside>
  <h2>Troubleshooting Journal</h2>
      
    <nav>
      <p>Dashboard</p>
      <p><%= link_to "Issues", issues_path %></p>
      <p><%= link_to "Projects", issues_path %></p>
      <p>Tags</p>
      <p>Timeline</p>
      <p>Search</p>
      <p>Reports</p>
      <p>Settings</p>
    </nav>
</aside>