 <aside>
      Sidebar
      <p>Dashboard</p>
      <%= link_to "Issues", issues_path %>
      <p>Projects</p>
      <p>Tags</p>
      <p>Timeline</p>
      <p>Search</p>
      <p>Reports</p>
      <p>Settings</p>
    </aside>