<% content_for :title, "Reports" %>

<section class="page-header">

  <div>

    <h1>Reports</h1>

    <p>
      View reports relating to each incident.
    </p>

  </div>

</section>

<section class="dashboard-stats">

  <div>
    <h3>Total Resolved Issues</h3>
    <p>24</p>
  </div>

  <div>
    <h3>Average Resolution Time</h3>
    <p>2.3 days</p>
  </div>