<% content_for :title, "Tags" %>

<section class="page-header">

  <div>

    <h1>Tags</h1>

    <p>
      View tags related to each incident
    </p>

  </div>

</section>

<section class="dashboard-stats">

  <div>
    <h3>Total Tags</h3>
    <p>12</p>
  </div>

  <div>
    <h3>Most Used Tag</h3>
    <p>bug</p>
  </div>