<% content_for :title, "Edit Project" %>

<section class="page-header">
  <div>
    <h1>Edit Project</h1>
    <p>Update project details and status.</p>
  </div>
</section>

<%= render "form", project: @project %>

<div class="issue-actions">
  <%= link_to "Show project", @project, class: "secondary-action" %>
  <%= link_to "Back to projects", projects_path, class: "secondary-action" %>
</div>